*{
    font-family:'Roboto',sans-serif;
    font-size:20px;
}
body {
    height: 2000px;
}
nav {
    position: fixed;
    background-color: #1E69E0; /*inital color */
    width: 100%;
    padding-left:20px;
    padding-right:  20px;;
    padding-top: 20px;
    padding-bottom: 20px;
    display : flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s ease;
    z-index: 1000;
}
nav.scrolled {
    background:rgb(86, 151, 250);     /* light blue when scrolled */
}

nav .webname {
    color: white;
    font-size: 26px;
    font-weight: bold;
    width:80px;
}
nav .menu {
    list-style: none;
    display: flex;
    gap:30px;
}

nav .menu li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3 ease;
}

nav .menu li a:hover{
    color:rgb(239, 239, 117);
    transform: scale(1.1);
}

img{
    width: 100%;
    padding-top:110px;
}

.content{
    padding-top: 150px;
    text-align: center;
}